[submodule "glamkit/stopspam"]
	path = glamkit/stopspam
	url = git://github.com/glamkit/glamkit-stopspam.git
[submodule "glamkit/smartlinks"]
	path = glamkit/smartlinks
	url = git://github.com/glamkit/glamkit-smartlinks.git
[submodule "glamkit/mediahash"]
	path = glamkit/mediahash
	url = git://github.com/glamkit/glamkit-mediahash.git
[submodule "glamkit/blogtools"]
	path = glamkit/blogtools
	url = git://github.com/glamkit/glamkit-blogtools.git
[submodule "glamkit/schedule"]
	path = glamkit/schedule
	url = git://github.com/glamkit/django-schedule.git
