<thead><tr> 
<th><a href="?date={{ prev|date:"Y.m.j" }}" title="view previous month">&lt;</a></th><th colspan="5">{{ start|date:"F, Y" }}</th><th><a href="?date={{ next|date:"Y.m.j" }}" title="view next month">&gt;</a></th> 
</tr> 
<tr class="days"> 
{% for day in headers %}
<th>{{ day }}</th> 
{% endfor %}
</tr> 
</thead>
<tbody>{% for week in calendar %}
<tr> 
{% for day in week %}
<td{% if day.classes %} class="{{ day.classes|join:" "}}"{% endif %}><a href="?date={{ day.date|date:"Y.m.j" }}" title="Use shift-click to select a range of dates">{{ day.date|date:"j" }}</a></td> 
{% endfor %}
</tr> 
{% endfor %}
</tbody>