{% extends "admin/change_form.html" %}
{% load i18n %}


<!-- BREADCRUMBS -->
{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     <a href="{% url admin:whats_on_eventinfo_changelist %}">Events</a> &rsaquo;
     <a href="{% url admin:whats_on_eventinfo_change original.event.info.id %}">{{ original.event.info }}</a> &rsaquo;
     {% if has_change_permission %}<a href="{% url admin:whats_on_eventinfo_change original.event.info.id %}occurrences/">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; 
     {{ original.start|date:"jS M Y" }}
</div>
{% endif %}{% endblock %}
